@import url('styles.css');

body {
    grid-template-areas:
        "nav"
        "main"
        "footer";
    grid-template-rows: 6% auto auto;
    background: url('../assets/home/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin: 3rem 0;

    .titulo {
        display: flex;
        max-width: 300px;

        .titulo-img {
            width: 100%;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        background-color: var(--tertiary-light-color);
        max-width: 650px;
        max-height: 400px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 5%;
        padding: 3%;

        .card-img-contenedor {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin: 10px;
            overflow: hidden;
            height: auto;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1.3);
            }
        }

        ul {
            list-style: none;
        }
    }
}

.card-contacto {
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-light-color);
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    .card-contacto-texto {
        padding: 5%;
    }
}

@media(min-width:768px) {
    body {
        grid-template-areas:
            "nav"
            "main"
            "footer";
        grid-template-rows: 7% auto auto;
    }
    
    .main {
        .card{
            flex-direction: row;
        }
    }
}

@media(min-width:992px) {
    body {
        grid-template-areas:
            "nav"
            "main"
            "footer";
        grid-template-rows: 8% auto auto;
    }

    .main {
        width: 100%;

        

    }
}