@import url('./styles.css');

body{
    grid-template-rows: auto 15vh 1fr auto;
}

.header{
    text-align: center;
    
}
.main{
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    max-width: 1400px;
    margin: 10% auto;
    gap: 10px;
    a{
        text-decoration: none;
        color: inherit;
        opacity: 10;
        .post{
            display: flex;
            flex-direction: column;
    
            max-width: 500px;
            height: 220px;
            margin: 10px;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            padding: 10px;
            transition: background-color 0.3s ease;
            img{
                width: 90px;
                filter: drop-shadow(7px 6px 3px rgba(0,0,0,0.2));
            }
            p{
                font-size: 0.9em;
            }
            &:hover{
                background-color: #ffdede;
            }
            &:active{
                background-color: #ffdede;
            }
        }
    }
    
}

@media(min-width:768px){
    body{
        grid-template-rows: auto 6% auto auto;
    }
    

}

@media(min-width:992px){
    .main{
        margin: 5% auto;
    }

}