@import url('./styles.css');

:root {
    --navbar-entry: 0vh;
    --navbar-cover: 0vh;
}

body {
    grid-template-areas: 
        "nav"
        "main"
        "footer"
        ;
    grid-template-rows: auto 1fr auto;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 2em;
}

.align-center {
    text-align: center;
}

.big-font-size {
    font-size: 1.2rem;
}

.side-colored {
    background-color: var(--tertiary-light-color);
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    
    .card {
        display: flex;
        flex-direction: column;
        flex: 50%;
        background-color: #fff;
        border-radius: 10px;
        padding: 1em;
        gap: 1em;
        box-shadow: 2px 2px 10px #222;
    }
}

/* Botones y elementos */
.button {
    border: none;
    border-radius: 10px;
    padding: 0.4em 0.2em;
    font-size: 1.1rem;
    color: #fff;
    font-family: var(--text-font);
    transition: background-color 0.5s;
    cursor: pointer;
}

.main-button {
    background-color: var(--primary-color);

    &:hover {
        background-color: var(--tertiary-color);
    }
}

.pill-shape {
    border-radius: 50px;
}

/* Formularios */
.forms {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
        margin-bottom: 0.5em;
    }
}

form {
    display: none;
    width: 80%;

    &.is-active {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

input, textarea {
    padding: 0.6em;
    font-size: 1.1em;
    font: var(--text-font);
    border: solid 2px gray;
    width: 100%;
    border-radius: 10px;
    resize: none;
}