@import url('styles.css');

.header {
    position: flex;
    background: url('../assets/home/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.summary {
    background-color: var(--tertiary-light-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.card-container {
    background-color: var(--primary-light-color);
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;

    .card {
        padding: 10px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .card-image {
            display: inline-block;
            margin: 0 auto;
            height: 64px;
            width: 64px;
        }

        .card-title,
        .card-text {
            text-align: center;
        }
    }
}

.level-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: var(--tertiary-light-color);
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

    .level-title {
        padding: 15px;
    }

    .level-slider-container {
        margin-bottom: 50px;
        border-radius: 30px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 80%;
        max-width: 740px;
        max-height: 500px;

        .level-list {
            display: flex;
            flex-direction: row;
            width: 1100%;
            animation: slide 25s infinite ease-in-out;
            list-style: none;

            .level-img {
                width: 100%;

                & img {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    9.09% {
        margin-left: 0;
    }

    18.18% {
        margin-left: -100%;
    }

    27.27% {
        margin-left: -200%;
    }

    36.36% {
        margin-left: -300%;
    }

    45.45% {
        margin-left: -400%;
    }

    54.54% {
        margin-left: -500%;
    }

    63.63% {
        margin-left: -600%;
    }

    72.72% {
        margin-left: -700%;
    }

    81.81% {
        margin-left: -800%;
    }

    90.90% {
        margin-left: -900%;
    }

    100% {
        margin-left: -1000%;
    }
}

@media (min-width:768px) {
    .card-container {
        display: flex;
        flex-wrap: wrap;

        .card {
            width: 45%;
        }
    }
}

@media (min-width: 992px) {
    .card-container {
        .card {
            width: 20%;
        }
    }
}