@import url('styles.css');

.header {
    position: flex;
    background: url('../assets/home/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.summary {
    text-align: center;
    margin: auto 0;
}

.card-container {
    background-color: var(--primary-light-color);
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;

    .card {
        padding: 10px;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .card-image {
            display: inline-block;
            margin: 0 auto;
            height: 64px;
            width: 64px;
        }

        .card-title,
        .card-text {
            text-align: center;
        }
    }
}

.level-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;

    .level-title {
        padding: 15px;
    }

    .level-slider-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 20px 0;

        .level-slider {
            max-width: 600px;
            max-height: 400px;
            border-radius: 30px;
            overflow: hidden;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

            .level-list {
                display: flex;
                padding: 0;
                margin: 0;
                width: 1100%;
                animation: slide 20s infinite ease-in-out;
                list-style: none;
            }
        }
    }
}

@media (min-width:768px) {
    .card-container {
        display: flex;
        flex-wrap: wrap;

        .card {
            width: 45%;
        }
    }
}

@media (min-width: 992px) {
    .card-container {
        .card {
            width: 20%;
        }
    }
}