@import url('./styles.css');
@import url('./common.css');
@import url('./components/carousel.css');

:root {
    /* Colocar en 200% para no desaparecer el nav en esta página */
    --navbar-entry: 200%;
    --navbar-cover: 200%;
}

body {
    grid-template-areas: 
        "nav"
        "main"
        "footer"
        ;
    grid-template-rows: auto 1fr auto;
}

/* Carousel */
.carousel-block {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 1em;
    align-items: center;
}

/* Productos */
.product-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding: 1em;
    margin-bottom: 0.5em;

    &:nth-child(odd) {    
        background-color: #000;
        color: #fff;
    }
    
    &:nth-child(even) {
        background-color: #0c0b0b;
        color: #fff;
    }

    & a {
        opacity: 1;
    }
}

.product-figure {
    display: flex;
    justify-content: center;

    & img {
        view-timeline-name: --image;
        view-timeline-axis: block;
        
        animation-timeline: --image;
        animation-name: show;
        animation-range: entry 50% cover 80%;
        animation-fill-mode: both;

        mask-image: linear-gradient(#000 85%, #0000 100%);
        /* transition: filter .35s, opacity .85s; */
        max-width: 100%;
        height: auto;

        &.visible {
            
            cursor: pointer;
        }
    }
}

@keyframes show {
    from {
        filter: grayscale();
        opacity: .4;
    }

    to {
        filter: grayscale(0%);
        opacity: 1;
    }
}

/* Contenido */
.content {
    width: 100%;
    min-height: 200px;
    padding: 0.8em;

    text-align: center;
    .content-wrapper {
        max-width: 80%;
        margin: 0 auto;
    }
}